.navbar-wrapper {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.navbar {
    position: relative; /* viktigt */
    width: 100%;
    max-width: 1100px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background: rgba(4, 14, 35, 0.7);
    backdrop-filter: blur(14px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}
.navbar ul{
    margin:0;
}

/* 🔥 CENTERED MENU */
.navbar-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 35px;
    list-style: none;
}

    /* LINKS */
    .navbar-links a {
        text-decoration: none;
        color: #cbd5f5;
        font-size: 14px;
        transition: 0.3s;
        position: relative;
    }

        /* HOVER */
        .navbar-links a:hover {
            color: #60a5fa;
        }

        /* UNDERLINE */
        .navbar-links a::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background: #3b82f6;
            left: 0;
            bottom: -5px;
            transition: 0.3s;
        }

        .navbar-links a:hover::after {
            width: 100%;
        }
